-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if event.qualification_possible?
  - # This renders the file from core with a deprecation warning, not sure how to work around
  = render file: Rails.root.join('app', 'views', 'event', 'qualifications', 'index')

- else
  - title event.to_s

  %p Im aktuellen Kurs Status können die Qualifikationen nicht mehr bearbeitet werden.

  = render 'people'
