.bundle/
log/*.log
tmp/
pkg/
doc/rdoc
db/*.sqlite3
zeus.json

# ignore Gemfile.lock for wagons
Gemfile.lock

.sass-cache
.project

config/settings.local.yml

# reports
spec/reports
spec/coverage
coverage
brakeman-output.tabs
rubocop-results.xml
.envrc
*.iml
.generators
.idea
.rakeTasks
.tool-versions
.pry_history
