= action_button(t('event.lists.courses.csv_export_button'), params.merge(format: :csv), :download)
= action_button(t('event.lists.courses.bsv_export_button'), params.merge(kind: :bsv, format: :csv), :download)
