-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito_jubla and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_jubla.

- if entry.event.kind_of?(Event::Course) && entry.event.condition_id?
  = section 'Kursbestimmungen' do
    = entry.event.condition.content.html_safe
