-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito_jubla and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_jubla.

- entry.used?(:advisor_id) do
  = f.labeled_person_field :advisor
- entry.used?(:coach_id) do
  = f.labeled_person_field :coach
- entry.used?(:condition_id) do
  = f.labeled_input_field(:condition_id)
- entry.used?(:training_days) do
  = f.labeled_input_field(:training_days)
