#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
#  hitobito_jubla and licensed under the Affero General Public License version 3
#  or later. See the COPYING file at the top-level directory or at
#  https://github.com/hitobito/hitobito_jubla.

# Settings relevant for the jubla wagon
# Overrides settings from the main application
application:
  name: jubla.db
  footer:
    logo_image: logo_jubla.png
    logo_url: http://www.jubla.ch
    links:
      "Fragen und Anregungen": http://feedback.jubla.ch
      Hilfe: http://jubla.ch/datenbank

email:
  # Sender for all emails sent by the application
  sender: <%= "jubla.db <noreply@#{ENV['RAILS_HOST_NAME'].presence || 'localhost'}>" %>

  # If mass emails are sent, this recipient is used in the to field,
  # while the actual recipients go in the bcc field.
  mass_recipient: <%= "jubla.db <noreply@#{ENV['RAILS_HOST_NAME'].presence || 'localhost'}>" %>

root_email: jubla@puzzle.ch

phone_number:
  predefined_labels:
    - Privat
    - Mobil
    - Arbeit
    - Vater
    - Mutter
    - Fax
    - Andere

social_account:
  predefined_labels:
    - E-Mail
    - Facebook
    - MSN
    - Skype
    - Twitter
    - Webseite
    - Andere

# Preset for addresses
address:
  ignored_countries:
    - ch
    - schweiz

# Presets for CSV export
csv:
  # optimized for M$ Excel
  separator: ;
  encoding: ISO-8859-1

role:
  # If a role last less than this number of days, it is not archived
  minimum_days_to_archive: 7

census:
  default_finish_month: 10
  default_finish_day: 31

people:
  default_sort: role
