// _navigation.scss

#page-navigation {
  .nav {
    font-family: $heading-font-family;

    li {

      &.active a {
        text-shadow: 0 1px 0 false white;
        color: $gray-dark;
        background-color: white;
      }

      a {
        text-shadow: 0 1px 0 false white;
        color: $gray-dark;

        &:hover {
          text-shadow: 0 -1px 0 false $blue-dark;
          background-color: $blue;
          color: white;
        }
      }
    }
  }
}

.nav-sub {
  & > .active > a:hover {
    border-color: $blue;
  }
}

.nav-pills > .active > a {
  border-color: $gray-light;
}
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  border-color: $gray-light;
}


// _typography.scss

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  margin-top: 0;
}

h2 {
  font-weight: normal;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: lighten($gray, 36%);
}

legend {
  font-size: 20px;
  line-height: 30px;
}


// _layout.scss

#page-header {
  @include clearfix;
  padding: 0;
  background: none;

  & > a { // header links on the right side
    color: $blue;
    &:hover {
     color: $blue-dark;
    }
  }
}

.logo {
  .logo-image {
    padding: 0;
    background: none;
    text-indent: 0;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    margin-top: 0.4rem;
  }
}

#page {
  background: none;
}

.sheet.parent {
  background: lighten($gray-lighter, 1%);
  box-shadow: 0 2px 8px $gray-darker;
  .sheet {
    &.parent {
      background: lighten($gray-lighter, 3%);
    }
  }
}

#content {
  box-shadow: 0 2px 8px $gray-darker;
}

#page-footer {
  padding-top: $v-space*2;
  background: none;

  & > .container-fluid {
    box-shadow: inset 0 2px 8px 0 $gray-darker;
    background: $gray-dark;
  }
}

html.turbolinks-progress-bar::before {
  background-color: $gray-dark !important;
  height: 1px !important;
}

// _form.scss


.btn {
  @include buttonBackground($btn-background, $btn-background-highlight, $green, 0 1px 1px rgba(255,255,255,.75));
  color: $green;

  &:hover,
  &:focus,
  &:active {
    color: darken($green, 10%);
    text-shadow: none;
    background-position: 0 -15px;
    border: 1px solid $btn-border;
    *border: 0; // Remove the border to prevent IE7's black border on input:focus
    border-bottom-color: darken($btn-border, 10%);

    // transition is only when going to hover/focus, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    @include transition(background-position .1s linear);

    .icon,
    [class^="icon-"],
    [class*=" icon-"] {
      background-image: url("../../../images/glyphicons-halflings-green.png");
    }

    .caret {
      border-top-color: $green;
    }
  }

  .icon,
  [class^="icon-"],
  [class*=" icon-"] {
    background-image: url("../../../images/glyphicons-halflings-green-hover.png");
  }

  .caret {
    border-top-color: $green;
  }
}

.btn-danger {
  @include buttonBackground($btn-danger-background, $btn-danger-background-highlight);
}

.btn-primary {
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}

.btn-group.open .btn.dropdown-toggle {
  background: $btn-background-highlight;
  color: darken($green, 10%);
  border-color: $btn-background-highlight;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: $gray-dark;
}

.well {
  border: 1px solid #e3e3e3;
  background: whitesmoke;
}
.nav-left .inner {
  background: #ffffff;
}
